{extends layout.latte}

{block title}Zalévání květin{/block}

{block body}
    <div class="container-fluid">

        <!--<form action="" method="post">
            <label>Type your name:</label>
            <input class="form-control" type="text" name="person" />
            <br />
            <button type="submit" class="btn btn-primary">
                <span class="fa fa-check"></span> OK
            </button>

            <button class="btn btn-primary">
                <span class="fa fa-check"></span> gay
            </button>
        </form>-->
        <div class="row"><p></p></div>
        <div class="row">
            <div class="col-4">
                <h1>Nastavení</h1>
                <div class="row">
                    <div class="col">
                        <b>Aktuální vlhkost</b>
                        <br>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            </div>
                            <span class="font-weight-bold text-primary ml-2 valueSpan2">60%</span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <div class="d-flex">
                            <div class="w-100">
                                <b>Regulace vlhkosti</b>
                                <div class="d-flex">
                                    <input type="range" min="0" max="100" value="50" class="slider" id="myRange">
                                    <span id="demo" class="font-weight-bold text-primary ml-2" ></span><a class="font-weight-bold text-primary ml-auto">%</a>
                                </div>
                                <script>
                                    var slider = document.getElementById("myRange");
                                    var output = document.getElementById("demo");
                                    output.innerHTML = slider.value;

                                    slider.oninput = function() {
                                        output.innerHTML = this.value;
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6">
                        <b>Manuální zapnutí čerpadla</b>
                    </div>
                      <input align="center" type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger">
                    </div>
                    <br>
                    <div class="row">
                    <div class="col-6">
                         <button type="button" class="btn btn-success">Uložit</button>
                    </div>
                    </div>

            </div>
            <div class="col-7">
                <div id="curve_chart" align="center"></div>
            </div>
            <div id="ikal-kalendar">Sestavuji aktuální <a href="http://www.ikal.cz/">kalendář</a> ...</div>
            <script type="text/javascript" src="https://www.ikal.cz/widget/kalendar.js.php"></script>
            <script type="text/javascript">
                iKAL_KALENDAR.init('ccal: 000000, ctxt: 666666, ctime: EEEEEE, csec: BBBBBB, htime: 11, hsec: 10, hcal: 26, htxt: 12, showsec: 0, showt: 1, shown: 1, showw: 1, bhd: CC0000, bkal: FFFFFF, btime: 999999 ');
                iKAL_KALENDAR.show();
            </script>
        </div>

    </div>
{/block}