<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{include title}</title>
    <link rel="stylesheet" href="{$basePath}/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$basePath}/css/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="{$basePath}/css/custom.css">
    <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
    <script type="text/javascript" src="{$basePath}/css/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Hodina', 'Vlhkost'],
                ['24', 60],
                ['23', 55],
                ['22',50],
                ['21', 51],
                ['20', 52],
                ['19', 58],
                ['18', 60],
                ['17', 67],
                ['16', 61],
                ['15', 57],
                ['14', 54],
                ['13', 70],
                ['12', 48],
                ['11', 46],
                ['10', 49],
                ['9', 50],
                ['8', 57],
                ['7', 60],
                ['6', 90],
                ['5', 60],
                ['4', 90],
                ['3', 61],
                ['2', 60],
                ['1',  60],
                ['Teď', 64]


            ]);


            var options = {
                height: 300,
                width: 510,
                series: {
                    0: { targetAxisIndex: 0 }
                },
                aggregationTarget: 'series',
                fontName: 'Arial',
                title: 'Vlhkost',
                curveType: 'linear',
                legend: { position: 'right' },

                hAxis: {
                    title: 'Hodiny (24)'
                },

                vAxis: {
                    0: { title: 'Vlhkost %' }
                }
            };


            var options = {
                height: 300,
                width: 510,
                series: {
                    0: { targetAxisIndex: 0 }
                },
                aggregationTarget: 'series',
                fontName: 'Arial',
                title: 'Vlhkost za posledních 24 hodin',
                curveType: 'linear',
                legend: { position: 'right' },

                hAxis: {
                    title: 'Hodiny'
                },

                vAxis: {
                    0: { title: 'Vlhkost (%)' }
                }
            };


            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);
        }
    </script>

    <style>
        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 15px;
            border-radius: 5px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #0069d9;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #0069d9;
            cursor: pointer;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {ifset meta}{include meta}{/ifset}
</head>
<body style="background-color: #9fcdff">
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Zalévání květin</a>
</nav>
{include body}

</body>
</html>